body {
    background-color: #f8f9fa;
    font-family: 'Kalam';
    font-size: 22px;
    color: #c88547;

  }
  .sidebar {
    background-image: url('https://images.unsplash.com/photo-1567696911980-2eed69a46042?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form {
    padding: 20px;
    padding-top: 5%;
  }
  h3{
      padding-bottom: 5%;
  }
  button.btn.btn-primary.w-100 {
  background: #c88547;
  border: 0;
  }
  #errors{
      color:red;
      font-size: 18px;
      margin-bottom: 5px;
  }
